.ArticleMeta{
  margin-bottom: 12px;
}
time{
  margin-top: 12px;
  display: inline-block;
  color: var(--light-color);
}
.tags{
  display: inline-block;
  list-style: none;
  margin: 14px 0;
  padding: 0;
}
.tags li {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
}

.tags li a{
  padding: 4px 12px 4px 0;
  text-decoration: none;
  color: var(--primary-color);
}
.tags li a:first-child{
  margin-left: 0;
}
