.Bio {
  display: flex;
  margin-bottom: 4.375rem;
}
  
.Bio img {
  border-radius: 50%;
  flex-shrink: 0;
  margin-bottom: 0;
  margin-right: 0.875rem;
  width: 320px;
  height: 320px;
  border: 18px solid #ffff;
  box-shadow: 0px 0px 25px 0px rgba(0,0,0,.1);
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
  -webkit-transition: all .8s ease-in-out; 
}
.Bio img:hover{
  filter: none;
  -webkit-filter: grayscale(0);
  -webkit-transform: scale(1.01);
}
.Bio .subtitle{
  color: var(--text-color);
}

.bioDetails{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 24px;
}
.bioDesc{
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.75em;
  color: #666666;
}

.titleName{
  font-size: 48px;
  line-height: 56px;
  margin-top: 0;
  margin-bottom: 20px;
  color: var(--text-color);
}

@media (max-width: 1100px) {
  .Bio img {
    width: 240px;
    height: 240px;
    border-width: 8px;
  }
}

@media (max-width: 900px) {
  .Bio img {
    width: 120px;
    height: 120px;
    border-width: 8px;
  }
}

@media (max-width: 768px) {
  .Bio{
    flex-direction: column;
    align-items: center;
  }
  .Bio img {
    margin-bottom: 1.75rem;
  }
  .titleName{
    font-size: 1.5rem;
    text-align: center;
  }
  .bioDetails{
    align-items: center;
    margin-left: 0;
  }
}
