.Bio {
  display: flex;
  margin-bottom: 40px;
}
  
.Bio img {
  border-radius: 50%;
  flex-shrink: 0;
  margin-bottom: 0;
  margin-right: 12px;
  width: 100px;
  height: 100px;
  border: 4px solid #ffff;
  box-shadow: 0px 0px 25px 0px rgba(0,0,0,.1);
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
  -webkit-transition: all .8s ease-in-out; 
}
.Bio img:hover{
  filter: none;
  -webkit-filter: grayscale(0);
}
.Bio .subtitle{
  color: var(--text-color);
}

.bioDetails{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 24px;
}
.bioDesc{
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.75em;
  color: #666666;
}
.bioDesc p {
  margin-bottom: 12px;
}
.titleName{
  font-size: 48px;
  line-height: 56px;
  margin-top: 0;
  margin-bottom: 20px;
  color: var(--text-color);
}

@media (max-width: 900px) {
  .Bio img {
    width: 120px;
    height: 120px;
    border-width: 8px;
  }
}

@media (max-width: 768px) {
  .Bio{
    flex-direction: column;
    align-items: center;
  }
  .Bio img {
    margin-bottom: 18px;
  }
  .titleName{
    font-size: 24px;
    text-align: center;
  }
  .bioDetails{
    align-items: center;
    margin-left: 0;
  }
}

.primaryButton, .button{
  display: inline-block;
  padding: 6px 32px;
  margin: 12px;
  font-size: 16px;
  line-height: 1.2;
  border: 2px solid #d5d5d5;
  outline: 0;
  background-color: #fff;
  box-shadow: 0px 10px 10px -8px #d5d5d5;
  color: #666;
  text-shadow: none;
  border-radius: 30px;
  transition: all 0.3s ease-in-out;
}

.button:hover{
  color: #333;
  border-color: #d5d5d5;
  background-color: #d5d5d5;
}

.primaryButton{
  border-color: var(--primary-color); 
}
.primaryButton:hover{
  color: #fff;
  background-color: var(--primary-color);
}
