.Bio {
  display: flex;
  margin-bottom: 4.375rem;
}
  
.Bio img {
  border-radius: 50%;
  flex-shrink: 0;
  margin-bottom: 0;
  margin-right: 0.875rem;
  width: 56px;
  height: 56px;
}
.Bio .subtitle{
  color: var(--primary-color);
}