.title {
  font-size: 32px;
  font-weight: 900;
  margin-bottom: 20px;
  text-rendering: optimizeLegibility;
  color: var(--text-color);
}
.title a {
  color: var(--text-color);
  text-decoration: none;
}

.articlesList > li {
  list-style: none;
  padding: 18px 0;
  margin-bottom: 48px;
  border-bottom: 1px solid var(--border-light-color);
}

.footer {
  margin: 52px 0;
  color: var(--text-color);
}
.footer a {
  text-decoration: underline;
  color: var(--text-color);
  font-size: 16px;
}
