.container {
  margin: 0 auto;
  max-width: 42rem;
  padding: 0 2.625rem 1.3125rem;
}

.title {
  font-size: 1.44rem;
  font-weight: 900;
  text-rendering: optimizeLegibility;
}
.title > a {
  color: var(--primary-color);
  text-decoration: none;
}
