.about h1 {
  font-size: 25px;
  font-weight: 900;
  line-height: 1.1;
  margin-top: 18px;
  margin-bottom: 24px;  
  text-rendering: optimizeLegibility;
}

.contact{
  font-size: 14px;
  border-bottom: 2px solid var(--secondary-color);
  padding-bottom: 12px;
  margin-bottom: 36px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.contact .contactIcon{
  width: 28px;
  padding-right: 12px;
  vertical-align: middle;
}
.contact .contactItem{
  padding: 12px;
}
