:root {
  --secondary-color: #7bd4ff;
  --primary-color: #00aafb;
  --text-color: #212223;
  --light-color: #626465;
  --white: #ffffff;
  color: var(--text-color);
  background-color: var(--white);
}

:global * {
  box-sizing: border-box;
}

:global html {
  color: var(--text-color);
  font-family: Arial Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
}

:global body {
  font-weight: 400;
  margin: 0;
  padding: 0;
}

:global pre {
  border-radius: 10px;
  overflow: auto;
  padding: 1em;
}

:global a, :global h1, :global h2, :global h3{
  color: var(--text-color);
  text-decoration: none;
}
:global a:hover {
  text-decoration: none;
  color: var(--primary-color);
  transition: .2s;
}

:global h1::after{
  display: block;
  content: '';
  width: 100px;
  background-color: var(--primary-color);
  height: 4px;
}

:global h2::after{
  display: block;
  content: '';
  width: 50px;
  background-color: var(--secondary-color);
  height: 2px;
}



:global p,
:global pre,
:global ul,
:global ol {
  margin-top: 0;
  margin-bottom: 48px;
}

header{
  padding: 2em;
}
.mainHeader a{
  display: flex;
  align-items: center;
}
.mainHeader .headerTitle{
  margin-left: 12px;
}

.pageFooter{
  padding: 24px 40px;
  font-size: 12px;
  text-align: center;
  border-top: 1px solid #eee;
  color: var(--light-color);
}

.inputText {
  transition: all 0.2s;
  box-sizing: border-box;
  box-shadow: none;
  border-radius: 4px;
  padding: 4px;
  color: #2b2d2e;
  border: 1px solid #b6b8b9;
 }
 .inputTextArea{
   width: 200px;
   height: 300px;
 }
 
 .inputText:hover, .inputText:focus, .inputText:active {
   border-color: #626465;
   box-shadow: none ;
 }
 
 .inputText::-webkit-input-placeholder {
   color: #b6b8b9;
   font-size: 14px;
   font-weight: 400;
   -moz-osx-font-smoothing: grayscale;
   -webkit-font-smoothing: antialiased;
 }
 
 .inputText:-moz-placeholder {
   color: #b6b8b9;
   opacity: 1;
   font-size: 14px;
   font-weight: 400;
   -moz-osx-font-smoothing: grayscale;
   -webkit-font-smoothing: antialiased;
 }
 
 .inputText::-moz-placeholder {
   color: #b6b8b9;
   opacity: 1;
   font-size: 14px;
   font-weight: 400;
   -moz-osx-font-smoothing: grayscale;
   -webkit-font-smoothing: antialiased;
 }
 
 .inputText:-ms-input-placeholder {
   color: #b6b8b9;
   font-size: 14px;
   font-weight: 400;
   -webkit-font-smoothing: antialiased;
 }
