/* @import url('https://fonts.googleapis.com/css?family=Roboto:400,500,400italic,300italic,300,500italic,700,700italic,900,900italic');
*/
@import url('https://fonts.googleapis.com/css?family=Tajawal&display=swap');

:root {
  --primary-color: #ffffff;
  --secondary-color: #3b9567;
  --text-color: #ababab;
  color: var(--text-color);
  background-color: #2b2b2b;
}

:global * {
  box-sizing: border-box;
}

:global html {
  color: var(--secondary-color);
  font: 120%/2 'Tajawal', sans-serif;
}

:global body {
  font-kerning: normal;
  font-weight: 400;
  margin: 0;
  padding: 0;
  word-wrap: break-word;
}

:global pre {
  border-radius: 10px;
  overflow: auto;
  padding: 1em;
}

:global a, :global h1, :global h2, :global h3{
  color: var(--secondary-color);
}
:global a:hover {
  text-decoration: none;
}

:global p,
:global pre,
:global ul,
:global ol {
  margin-top: 0;
  margin-bottom: .45rem;
}

blockquote{
  border-left: 5px solid var(--primary-color);
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 24px;
  border-inline-start: 5px solid var(--primary-color);
  color: var(--primary-color);
  font-size: .9em;
}